<!doctype html>
<html lang="en" ng-app="ToDoApp">
    <head>
      <meta charset="UTF-8">
      <title>ToDo - AngularJS</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>

    <body >
      <div class="main" ng-controller="MainCtrl">
          <div class="app hidden">
              <div class="panel panel-default">
                  <div class="btn pull-right" ng-click='logout()'>Logout</div>
                  <div class="panel-heading"><h2><img src="assets/logo.png" height="45px"/>todo</h2></div>
                  <div class="panel-body"><div ng-view></div></div>
                  <footer></footer>
              </div>

          </div>

          <div class="login">
             <div class="panel panel-default">
                <div class="panel-heading"><h2><img src="assets/logo.png" height="45px"/>todo</h2></div>
                <div class="panel-body loginForm">
                    <input ng-model="newUser.id" type="text" />
                    <button ng-click="setUser(newUser.id)" class="btn btn-sm btn-primary">Join List</button></p>
                </div>
                <footer></footer>
              </div>
          </div>
      </div>

      <script src='lib/jquery.min.js'></script>
      <script src="lib/jquery.transit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
      <script src="https://cdn.firebase.com/v0/firebase.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.js"></script>
      <script src="lib/angular-route.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controllers.js"></script>

      <datalist id="colors">
          <option>#ffffc1</option> 
          <option>#e1ffe1</option> 
          <option>#ffe6eb</option> 
          <option>#e8f0ff</option> 
          <option>#ffff80</option> 
      </datalist>
      
    </body>

</html>